<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/board.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/dragula.min.js"></script>
    <title><%= board_title %></title>
  </head>

  <body>
    <nav>
      <a href="/">Dashboard</a>
      <a href="/board/create-board">Create Board</a>
      <a href="/signout">Log Out</a>
    </nav>
    <header>
      <h1>
        <%= board_title %> <% if (is_owner) { %>
        <a href="/board/edit-board/<%= board_id %> " class="edit-btn"
          ><i class="fas fa-pen"></i
        ></a>
        <% } %>
      </h1>
    </header>

    <h3>Add Task</h3>
    <form action="/task/add-task" method="POST" class="add-task">
      <label for="taskName">Task Name</label>
      <input type="text" name="taskName" />
      <input type="submit" value="Add task" class="btn" />
    </form>

    <main>
      <section class="drag-column todo">
        <h2>To Do</h2>
        <ul id="todo">
          <% for (let task of todo) { %>
          <li class="drag-item" name="<%= task.id %>"><%= task.text %></li>
          <% } %>
        </ul>
      </section>
      <section class="drag-column doing">
        <h2>In Progress</h2>
        <ul id="doing">
          <% for (let task of doing) { %>
          <li class="drag-item" name="<%= task.id %>"><%= task.text %></li>
          <% } %>
        </ul>
      </section>
      <section class="drag-column review">
        <h2>Needs Review</h2>
        <ul id="review">
          <% for (let task of review) { %>
          <li class="drag-item" name="<%= task.id %>"><%= task.text %></li>
          <% } %>
        </ul>
      </section>
      <section class="drag-column done">
        <h2>Done</h2>
        <ul id="done">
          <% for (let task of done) { %>
          <li class="drag-item" name="<%= task.id %>"><%= task.text %></li>
          <% } %>
        </ul>
      </section>
    </main>

    <script>
      dragula([
        document.getElementById("todo"),
        document.getElementById("doing"),
        document.getElementById("review"),
        document.getElementById("done"),
      ])
        .on("drag", function (el) {
          // add 'is-moving' class to element being dragged
          el.classList.add("is-moving");
        })
        .on("dragend", function (el) {
          // remove 'is-moving' class from element after dragging has stopped
          el.classList.remove("is-moving");

          const task_id = el.getAttribute("name");
          const status = el.parentNode.getAttribute("id");
          updateDb(task_id, status);

          // add the 'has-moved' class for 600ms then remove it
          window.setTimeout(function () {
            el.classList.add("has-moved");
            window.setTimeout(function () {
              el.classList.remove("has-moved");
            }, 600);
          }, 100);
        });

      function updateDb(task_id, status) {
        // sync task-status in the server:
        fetch(`/task/update-task/${task_id}`, {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            status: status,
          }),
        });
      }

      function deleteTask(e) {
        const target = e.target;
        const task_id = target.getAttribute("name");
        target.remove();
        fetch(`/task/delete-task/${task_id}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        });
      }

      const liElems = document.querySelectorAll("li");
      liElems.forEach((el) => el.addEventListener("dblclick", deleteTask));
    </script>
  </body>
</html>
