<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/board.css">
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/dragula.min.js"></script>
    <title><%= board_title %></title>
</head>

<body>
    <header>
        <h1> <%= board_title %> </h1>
    </header>

    <main>
        <section class="drag-column todo">
            <h2>To Do</h2>
            <ul id="todo">
                <% for (let task in todo) { %> 
                    <li class="drag-item"> <%= task.text %> </li>
                <% } %> 
            </ul>
        </section>
        <section class="drag-column in-progress">
            <h2>In Progress</h2>
            <ul id="doing">
                <% for (let task in doing) { %> 
                    <li class="drag-item"> <%= task.text %> </li>
                <% } %> 
            </ul>
        </section>
        <section class="drag-column review">
            <h2>Needs Review</h2>
            <ul id="review">
                <% for (let task in review) { %> 
                    <li class="drag-item"> <%= task.text %> </li>
                <% } %> 
            </ul>
        </section>
        <section class="drag-column done">
            <h2>Done</h2>
            <ul id="done">
                <% for (let task in done) { %> 
                    <li class="drag-item"> <%= task.text %> </li>
                <% } %>                 
            </ul>
        </section>
    </main>

    <script src="board.js"></script>
</body>

</html>