<!-- User Info -->
<!-- A list of all available boards -->
<!-- Landing page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <title><%= user_name %>'s Dashboard</title>
  </head>
  <body>
    <nav>
      <a href="/" title="Dashboard"><i class="fas fa-columns"></i></a>
      <a href="/board/create-board" title="Create a new board"
        ><i class="fas fa-plus-square"></i
      ></a>
      <a href="/signout" title="Sign out"
        ><i class="fas fa-sign-out-alt"></i
      ></a>
    </nav>
    <h1><%= user_name %>'s Boards</h1>
    <ul class="boards">
      <% for (let board of boards) { %>
      <li>
        <a href="/board/<%= board.id %>" class="swipe"><%= board.title %></a>
      </li>
      <% } %>
    </ul>

    <% if (otherBoards.length > 0) {%>
    <h1>Shared by others</h1>
    <% } %>
    <ul class="boards">
      <% for (let board of otherBoards) {%>
      <li>
        <a href="/board/<%= board.id %>" class="swipe"><%= board.title %></a>
      </li>
      <% }%>
    </ul>
  </body>
</html>
